body{
    margin: 0;
    /* display: flex;
    justify-content: center; */
}


.attribution { 
    font-size: 11px; 
    text-align: center; 

    padding-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.active {
    color: red;
}

#app {
    display: flex;
    justify-content: space-between;
}

#app > div {
    padding: 0 15px;
}
